.box {
    width: 100%;
    height: 70px;
    background: blue;
    text-align: center;
    color: white;
    font-size: 18px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}